@use 'sass:map';
@use '../color' as *;
@use '../common/mixins' as *;

.btn__sub {
  @include button-variant(
    map.get($colors, "sub"),
    map.get($colors, "sub"),
    6,
    map.get($colors, "white"),
    map.get($colors, "white"),
    map.get($colors, "sub")
  );
}

.btn__sub--rounded {
  @include button-variant(
    map.get($colors, "sub"),
    map.get($colors, "sub"),
    20,
    map.get($colors, "white"),
    map.get($colors, "white"),
    map.get($colors, "sub")
  );
}

.btn__light {
  @include button-variant(
    map.get($colors, "white"),
    map.get($colors, "light-gray"),
    6,
    #252525,
    map.get($colors, "light-gray"),
    #252525
  );
}

.btn__light--rounded {
  @include button-variant(
    map.get($colors, "white"),
    map.get($colors, "light-gray"),
    20,
    #252525,
    map.get($colors, "light-gray"),
    #252525
  );
}

.btn__heart {
  @include button-variant(
    transparent,
    transparent,
    0,
    #DB3B29,
    transparent,
    #DB3B29
  );
  border: none;
  min-width: 2rem;
  min-height: 2rem;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.btn__loginBtn {
  width: 6rem;
  height: 6rem;
  background-color: map.get($colors, "sub");
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 2rem;
  color: map.get($colors, "white");
  cursor: pointer;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

  svg {
    width: 3rem;
    height: 3rem;
  }
}


.btn__close {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #222;
  cursor: pointer;
}