@use 'sass:map';
@use '../color' as *;
@use '../common/mixins' as *;

.btn__sub {
  @include button-variant(
    map.get($colors, "sub"),
    map.get($colors, "sub"),
    6,
    map.get($colors, "white"),
    map.get($colors, "white"),
    map.get($colors, "sub")
  );
}

.btn__sub--rounded {
  @include button-variant(
    map.get($colors, "sub"),
    map.get($colors, "sub"),
    20,
    map.get($colors, "white"),
    map.get($colors, "white"),
    map.get($colors, "sub")
  );
}

.btn__light {
  @include button-variant(
    map.get($colors, "white"),
    map.get($colors, "light-gray"),
    6,
    #252525,
    map.get($colors, "light-gray"),
    #252525
  );
}

.btn__light--rounded {
  @include button-variant(
    map.get($colors, "white"),
    map.get($colors, "light-gray"),
    20,
    #252525,
    map.get($colors, "light-gray"),
    #252525
  );
}

.btn__heart {
  @include button-variant(
    transparent,
    transparent,
    0,
    map.get($colors, "main"),   
    transparent,
    #DB3B29
  );
  min-width: 2rem;
  min-height: 2rem;
  font-size: 1.6rem;
  position: absolute;
  top: 0;
  right: 0;
}

.floatingBtn {
  @include button-variant(
    map.get($colors, "sub"),
    transparent,
    100,
    map.get($colors, "white"),
    map.get($colors, "sub"),
    map.get($colors, "white")
  );
  min-width: 6rem;
  min-height: 6rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;  
  cursor: pointer;
  box-shadow: 2px 5px 10px 1px rgba(0, 0, 0, 0.2);

  svg {
    width: 3rem;
    height: 3rem;
  }
  span {
    font-size: 0;
    display: none;
  }
}

.btn__toggle {
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: #222;
  cursor: pointer;
}