@use "sass:map";
@use "../color" as *;

.header {
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  box-sizing: border-box;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &__logo {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: map.get($colors, "main");

    img {
      height: 4rem;
      width: auto;
    }
    span {
      vertical-align: top;
      margin-left: 0.8rem;
      line-height: 4rem;
    }
  }

  &__menu {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    span {
      display: block;
      width: 25px;
      height: 2px;
      background-color:map.get($colors, "main");
      margin-bottom: .5rem;
      transition: .5s;
    }
    
  }
}

@media (min-width:768px) {
  .header {
    max-width: 40rem;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .header.active {
    transform: translateX(-100%);
  }
}