@use 'sass:map';
@use '../../styles/color' as *;

.Login {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__form {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid map.get($border-colors, 'default');
    border-radius: 6px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .15);

    &-img {
      text-align: center;

      strong {
        display: block;
        margin: .5rem 0;
        font: {
          size: 2rem;
          weight: 700;
        }
        color: map.get($colors, 'main');
        cursor: pointer;
      }

      span {
        display: block;
        font-size: 1.6rem;
        color: map.get($colors, 'main');
      }
    }

    form {
      display: block;
      max-width: 37rem;
      margin: 3rem auto 0;

      input {
        width: 100%;
        height: 4rem;
        border-color: map.get($colors, 'placeholder');

        &:focus {
          background-color: #F8F5E6;
        }
      }
    }

    &-item {
      &:first-child {
        input {
          border-width: 0 0 2px;
        }
      }

      & + & {
        margin-top: 1.5rem;
      }
    }

    &-btn-wrap {
      margin-top: 5rem;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4.6rem;
        background-color: transparent;
        border: 0 none;
        border-radius: 6px;
        font: {
          size: 1.5rem;
          weight: 400;
        }
        color: #fffffd;
        cursor: pointer;
        transition: .35s;

        + button {
          margin-top: 1rem;
        }

        &.btn__login {
          background-color: map.get($colors, 'sub');
          border: 1px solid map.get($colors, 'sub');

          &:hover {
            background-color: map.get($colors, 'cream');
            color: map.get($colors, 'sub');
          }
        }

        &.btn__join {
          background-color: #F8F5E6;
          border: 1px solid map.get($colors, 'placeholder');
          color: #4A3728;
        }

        &.btn__find {
          background-color: map.get($colors, 'point');
        }

        &.btn__link {
          background-color: map.get($colors, 'main');
        }
      }
    }
  }
}

// 에러 메시지
.is-error {
  padding: 0 1rem;
  font-size: 1.3rem;
  color: map.get($colors, 'heart');
}

@media all and (min-width: 1024px) {
  .Login {
    &__form {
      max-width: 50rem;
      padding: 6rem 3rem;

      &-img {
        strong {
          font-size: 2.4rem;
        }

        span {
          font-size: 1.8rem;
        }
      }
    }
  }
}