@use 'sass:map';
@use '../../styles/color' as *;

.Login {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  &__form {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1px solid map.get($border-colors, 'default');
    border-radius: 6px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .15);

    &-img {
      text-align: center;

      strong {
        display: block;
        margin: .5rem 0;
        font: {
          size: 2rem;
          weight: 700;
        }
        color: map.get($colors, 'main');
        cursor: pointer;
      }

      span {
        display: block;
        font-size: 1.6rem;
        color: map.get($colors, 'main');
      }
    }
  }
}