@use "sass:map";
@use "../color" as *;
@use "../common/mixins" as *;

.BakeryList {
  h1 {
    margin-bottom: 1.5rem;
  }

  &__actions {
    margin-bottom: 1.5rem;
  }

  ul {
    border-top: 1px solid map.get($colors, "light-gray");

    li {
      padding: 1rem 0;
      border-bottom: 1px solid map.get($colors, "light-gray");
      display: flex;
      justify-content: space-between;
      align-items: center;

      .BakeryList__buttons {
        display: flex;
        gap: 0.5rem;

        button {
          @include button-variant(
            map.get($colors, "sub"),
            map.get($colors, "sub"),
            6,
            map.get($colors, "white"),
            map.get($colors, "white"),
            map.get($colors, "sub")
          );
        }

        .delete {
          @include button-variant(
            map.get($colors, "white"),
            map.get($colors, "gray"),
            6,
            map.get($colors, "gray"),
            map.get($colors, "light-gray"),
            map.get($colors, "gray")
          );
        }
      }
    }
  }
}
