@use "sass:map";
@use "../color" as *;
@use "../common/mixins" as *;

.BakeryForm {
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  &__card {
    background: map.get($colors, "white");
    padding: 4rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-size: 1.6rem;
      font-weight: 600;
    }
    
    /* 여기서는 input 기본 스타일을 건드리지 않음! */
    input:not([type="file"]) {
      width: 100%;
      padding: .5rem .2rem;
      margin-top: 0.3rem;
    }
  }

  /* 위도/경도 병렬 */
  &__half {
    display: flex;
    gap: 2.4rem; 

    > div {
      flex: 1;
    }
  }

  &__preview {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    button {
      @include button-variant(
        map.get($colors, "white"),
        map.get($colors, "sub"),
        6,
        map.get($colors, "sub"),
        map.get($colors, "sub"),
        map.get($colors, "white")
      );
    }

    .submit {
      @include button-variant(
        map.get($colors, "sub"),
        map.get($colors, "sub"),
        6,
        map.get($colors, "white"),
        map.get($colors, "white"),
        map.get($colors, "sub")
      );
    }
  }
}
