// 반응형 완료
@use "sass:map";
@use "../color" as *;
@use "../common/mixins" as *;

.AdminDashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  // padding: 2rem;
  color: map.get($colors, "main");

  h1 {
    // font-size: 2.4rem;
    font-weight: 700;
    color: map.get($colors, "main");
  }

  &__box {
    background: map.get($colors, "white");
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid map.get($border-colors, "default");
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

    p {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;

      strong {
        font-weight: 700;
        color: map.get($colors, "sub");
      }
    }
  }

  /* 하단 그리드 (PC 기본) */
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  /* 최근 등록된 빵집 */
  &__recent-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.6rem 0;

    li {
      display: grid;
      grid-template-columns: minmax(14rem, 1fr) auto auto;
      gap: 1rem;
      align-items: center;
    }

    .name {
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: map.get($colors, "point");
      font-weight: 600;
    }

    .categories {
      display: flex;
      gap: 0.4rem;
      white-space: nowrap;

      .tag {
        flex-shrink: 0;
      }
    }

    .date {
      font-size: 1.3rem;
      color: map.get($colors, "gray");
      white-space: nowrap;
    }
  }
}

// Tablet
@media (max-width: 1024px) {
  .AdminDashboard {
    &__grid {
      grid-template-columns: 1fr;
    }

    &__recent-list {
      li {
        grid-template-columns: 1fr auto;
      }

      .categories {
        display: none;
      }
    }
  }
}
