@use "sass:map";
@use "../color" as *;

/* 관리자 레이아웃 전체 */
.AdminLayout {
  min-height: 100vh;
  background-color: map.get($colors, "cream");
}

/* 사이드바 고정폭만큼 콘텐츠 밀기 */
.AdminLayout__content {
  margin-left: 240px;   /* 사이드바 width랑 동일 */
  padding: 3rem;
  min-height: 100vh;
}
