@use "sass:map";
@use "../color" as *;

.AdminSidebar {
  width: 240px;
  min-height: 100vh;
  background-color: map.get($colors, "main");
  padding: 2rem;
  color: map.get($colors, "white");

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  a {
    color: map.get($colors, "white");
    font-size: 1.4rem;
    transition: 0.25s;

    &:hover {
      color: map.get($colors, "sub");
    }
  }
}
