@use 'sass:map';
@use '../color' as *;

.AdminSidebar {
  position: fixed;              /* 사이드바 고정 */
  top: 0;
  left: 0;

  width: 240px;
  height: 100vh;                /* 화면 높이 기준 */
  padding: 2rem;

  background-color: map.get($colors, 'main');
  color: map.get($colors, 'white');

  overflow-y: auto;             /* 메뉴 많아질 때 내부 스크롤 */
  box-sizing: border-box;

  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  /* 단일 메뉴 */
  &__single {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    color: map.get($colors, 'white');
    text-decoration: none;

    &.active {
      background-color: map.get($colors, 'sub');
    }

    &:hover {
      background-color: map.get($colors, 'sub');
    }
  }

  /* 그룹 */
  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &.active > .AdminSidebar__group-title {
      background-color: map.get($colors, 'sub');
    }

    &:hover .AdminSidebar__submenu {
      max-height: 200px;
      opacity: 1;
    }
  }

  &__group-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }

  /* 서브메뉴 */
  &__submenu {
    margin-left: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    a {
      display: block;
      width: 100%;
      padding: 0.8rem 1rem;
      border-radius: 8px;
      font-size: 1.3rem;
      color: map.get($colors, 'white');
      text-decoration: none;
      background-color: transparent;

      &.active {
        background-color: map.get($colors, 'sub');
      }

      &:hover {
        background-color: map.get($colors, 'sub');
      }
    }
  }
}


// 사이드바 하단 유저 영역
.AdminSidebar {
  display: flex;
  flex-direction: column;
}

/* 하단 유저 영역 전체 */
.AdminSidebar__user {
  margin-top: auto; /* 사이드바 맨 아래로 */
  padding-top: 1.6rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 유저 정보 */
.AdminSidebar__user-info {
  padding: 0.8rem 1rem;
}

/* 메인 / 로그아웃 공통 */
.AdminSidebar__user-link,
.AdminSidebar__logout {
  display: flex;
  align-items: center;
  gap: 0.4rem .8rem;

  padding: 0.8rem 1rem;
  background: transparent;
  border: none;

  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.4rem;
  
  &:hover {
    background-color: map.get($colors, 'sub');
    border-radius: 8px;
  }
}

/* 로그아웃 버튼 기본 스타일 제거 */
.AdminSidebar__logout {
  text-align: left;
}
