/* 색상 */
$colors: (
  "main": #4A3728,
  "sub": #8B5A2B,
  "point": #252525,
  "gray": #515151,
  "light-gray": #D9D9D9,
  "white": #FFFFFF,
  "black": #000000,
  "placeholder": #B8814A
  "cream": #FFFFFD
) !default;

/* border 색상 */
$border-colors: (
  "default": #D9D9D9
) !default;