@use "sass:map";
@use "../styles/color" as *;

.main-page {
  width: 100%;

  &__section {
    position: relative;
    text-align: center;
    height: 100vh;
  }

  &__search {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    height: 8rem;
    margin: 0 auto;
    z-index: 2;
  
    .search__input {
      display: inline-flex;
      align-items: center;
      width: 90%;
      min-height: 5.4rem;
      padding: 0 1rem;
      border: 2px solid map.get($colors, "sub");
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

      svg {
        width:3rem;
        height: 3rem;
      }
    
      input {
        background-color: #fff;
        border-bottom: 0;
        border-radius: 6px;
        width: 90%;
        box-sizing: border-box;
      }
    }

    .main-page__cate {
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0;
      overflow-x: auto;
      scrollbar-width: visible;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .Design__button {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;

      .btn {
        margin:0 0 0.5rem 0.5rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0  , 0.1);
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 50vh;
    z-index: 10;

    &__inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;

    .bakeryMap {
      width: 100%;
      height: 100%;

      &__inner {
        width: 100%;
        height: 100%;

        #map {
          width: 100%;
          height: 100vh;
        }
      }
    }
  }

  &__button {
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    z-index: 10;
  }
}

.bakeryList {
  width: 100%;
  padding: 2rem;

  .bakeryItem {
    text-align-last: left;
    padding: 1.5rem 0;
    border-bottom: 1px solid map.get($colors, "light-gray");
  
    &__content {
      position: relative;
      h3 {
        font-size: 1.8rem;
        font-weight: 500;
        max-width: 94%;
        text-align: left;
        line-height: 1.2;
      }
    }

    &__info {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      color: map.get($colors, "gray");
      .address {
        margin-top: 1rem;
        max-width: 94%;
        text-align: left;
        line-height: 1.2;
        color: map.get($colors, "point");
      }
      .category {
        display: inline-block;
        margin: 0.5rem 0.5rem 0 0;
        padding: 0.2rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        background-color: #f0e6d9;
        color: map.get($colors, "main");
      }
    }

    &__thumbnail {
      margin-top: 1.2rem;
      ul {
        display: flex;
        gap: 1rem;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        li > img {
          width: 106px;
          height: 106px;
          border-radius: 0.8rem;
        }
      }
    }
  }

  &__empty {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid map.get($colors, "light-gray");
    svg {
      width: 3.5rem;
      height: 3.5rem;
      color: map.get($colors, "light-gray");
    }
  }
}


@media (min-width:768px) {
  .main-page {

    &__section {
      position: relative;
      background: #fff;
      max-width: 40rem;
      height: 100vh;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
      z-index: 10;
      transform: translateX(0);
      transition: .3s;
    }

    &__search {
      max-width: 40rem;
    }

    &__content {
      position: relative;
      max-width: 40rem;

      &__inner {
        background: none;
        border-radius: 0;
      }
    }

    &__button {
      max-width: 40rem;
      margin: 0 auto;
      top: 2rem;
    }

    &__more {
      position: fixed;
      top: 50%;
      transform: translateX(40rem) translateY(-50%);
      transition: .3s;
      z-index: 10;

      .btn__toggle {
        width: 2.5rem;
        height: 5rem;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 0 0.6rem 0.6rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 0 3px rgba(0, 0, 0  , 0.1);
      }
    }

    &__more.active {
      transform: translateX(0) translateY(-50%);
    }
  
    &__section.active {
      transform: translateX(-100%);
    }
  }

  .bakeryList {
    position: absolute;
    top: 20rem;
    left: 0;
    padding-top: 0;
    background-color: #fff;
    
    .bakeryItem {
      &__content {
        width: calc(40rem - 4rem);
      }
    }
  }
}
