@use "sass:map";
@use "../styles/color" as *;

.main-page {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;

  &__section {
    position: relative;
    text-align: center;
    height: 100vh;
  }

  &__search {
    position: absolute;
    top: 8rem;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  
    .search__input {
      display: inline-flex;
      align-items: center;
      width: 90%;
      min-height: 5.4rem;
      padding: 0 1rem;
      border: 2px solid map.get($colors, "sub");
      border-radius: 6px;
      background-color: #fff;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

      svg {
        width:3rem;
        height: 3rem;
      }
    
      input {
        background-color: #fff;
        border-bottom: 0;
        border-radius: 6px;
      }
    }

    .main-page__cate {
      width: 90%;
      margin: 0 auto;
      padding: 1rem 0;
      overflow-x: auto;
      white-space: nowrap;
    }

    .Design__button {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;

      .btn {
        margin:0 0 0.5rem 0.5rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0  , 0.1);
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 10;

    &__inner {
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 20px 20px 0 0;
      box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
    }
  }

  &__map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;

    .bakeryMap {
      &__inner {
        #map {
          height: 100vh;
        }
      }
    }
  }
}

.bakeryList {
  padding: 2rem;

  .bakeryItem {
    text-align-last: left;
    padding: 1.5rem 0;
    border-bottom: 1px solid map.get($colors, "light-gray");
  
    &__content {
      position: relative;
      h3 {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    &__info {
      margin-top: 1rem;
    }

    &__thumbnail {
      margin-top: 1.2rem;
      ul {
        display: flex;
        gap: 1rem;
        li > img {
          width: 106px;
          height: 106px;
          border-radius: 0.8rem;
        }
      }
    }
  }
}


@media (min-width:768px) {
  
}
