.bakeryDetail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: #fff;
  z-index: 99;
  
  &__inner {
    position: relative;
    padding: 2rem;

    .bakeryDetail__close {
      position: absolute;
      right: 2rem;
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

@media (min-width:768px) {
  .bakeryDetail {
    position: absolute;
    top: 0;
    left: 40rem;
    max-width:40rem;
    margin: 2rem;
    height: calc(100vh - 4rem);
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    z-index: 99;
    
    &__inner {
      position: relative;
      padding: 2rem;

      .bakeryDetail__close {
        position: absolute;
        right: 2rem;
        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}