:root {
  --main-color: #8B5A2B;
}

/* font 정의 */
@font-face {
  font-family: 'Pretendard', sans-serif;
  font-weight: '100 900';
  font-display: swap;
  src: url(./assets/font/pretendard/PretendardVariable.woff2) format('woff2');
}

* { box-sizing: border-box; }
html { font-size: 10px; }
body {
  min-width: 320px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222;
  line-height: 1.5625;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  border-width: 1px;
  border-radius: 6px;
  border-color: var(--main-color);
  outline: none;
  font-family: 'Pretendard', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}