.TestApi {
  position: relative;
  min-height: 100vh;
  background-color: rgb(35, 39, 46);

  h1 {
    padding: 2rem;
    font: {
      weight: 700;
    }
    color: #fff;
  }

  &__item {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 2rem;

    h2 {
      display: inline-block;
      background-image: linear-gradient(90deg,#fff .03%,#448efe 99.97%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      color: rgb(221, 221, 228);
    }

    &-result {
      margin: 3rem auto 0;
      padding: 2rem;
      background-color: rgba(255, 255, 255, .08);
      border: 1px solid rgba(255, 255, 255, .24);
      border-radius: 1.2rem;
      box-shadow: -10px -9px 70px 0 rgba(0, 0, 0, .15);

      .btn__box {
        text-align: right;
      }

      .result__api {
        max-height: 25vh;
        overflow-y: auto;
        margin-top: 1.5rem;
        padding: 2rem;
        text-align: left;
        color: #fff;
        word-break: keep-all;

        &::-webkit-scrollbar {
          width: .6rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(195, 196, 207, .16);
          border-radius: 2px;
        }
      }
    }
  }

  &__frm {
    margin-top: 1rem;
  }
}

@media all and (min-width: 1921px) {
  .TestApi {
    &__item {
      max-width: 192rem;
    }
  }
}